body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  margin-top: 10px;
}

#board {
  position: relative;
  display: inline-block;
}

#boardImage {
  width: 800px;
}

.piece {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#info {
  margin-top: 10px;
  font-size: 18px;
}
